@import "reset";

* {
  font-family: 'Inconsolata', monospace !important;
    box-sizing: border-box;
}

.control {
  padding: 10px 20px;

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  .buttons {
    float: left;
  }

  .searchbox {
    float: right;
  }
}

.addons-wrapper {
  padding: 20px 40px;
  overflow: hidden;

  .addon-wrapper {
    width: 25%;
    padding: 0 20px 0 20px;
    float: left;
    margin-bottom: 20px;

    .addon {
      -webkit-box-shadow: inset 0px 0px 17px -1px rgba(0,0,0,0.15);
      -moz-box-shadow: inset 0px 0px 17px -1px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.15);
      border-radius: 10px;
      padding: 10px;
      height: 140px;

      .addon-content {
        margin-top: 10px;
        overflow: hidden;
        height: 75px;

        .addon-icon {
          width: 30%;
          float: left;
          text-align: center;
          height: 100%;
          line-height: 80px;

          img {
            vertical-align: middle;
          }
        }

        .addon-info {
          width: 70%;
          float: left;

          .name {
            color: #0069ff;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            padding: 4px 0;
          }

          .users {
            color: #6F6F6F;
            font-size: 13px;
          }

          .addon-controls {
            margin-top: 5px;

            & > * {
              font-size: 14px;
              padding: 3px;
            }
          }
        }
      }

      .error-type {
        color: #a4a4a4;
        font-size: 14px;
        margin-top: 10px;
      }

      .addon-icon {
        float: left;
      }
    }
  }
}

#sitesListModal {
    .site-wrapper {
        display: inline-block;
        width: 19%;
        padding: 0 10px;
        height: 50px;
        overflow: hidden;

        .form-check {
            vertical-align: middle;

            .form-check-label {
                vertical-align: middle;

            }
        }
    }
}

.check-addon {
  margin-top: 11px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  cursor: pointer;

  &:checked ~ .addon {
    background: #b9c9ef;
  }
}

.hidden {
    display: none;
}

.modal-additional-info {
    padding: 1rem;
}

#reportAllModal .modal-dialog {
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.pagination {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

#sitesChartContainer {
    height: 650px;
}

span.bold {
    font-weight: bold;
}
